*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    height: 200vh;
    overflow: hidden;
    padding: 10px;
}
header.sign1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: lightcyan;
    & > img.logo-1{
        height: 50px;
        margin-left: 1rem;
    }
    & > nav.navigation{
        display: flex;
        align-items: center;
        gap: 1rem;
    & > a.buttton{
        text-decoration: none;
        font-weight: 600;
        font-size: 1.1rem;
        color: black;
        }
    }
}