@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    height: 200vh;
    overflow-x: hidden;
    padding: 10px;
}
header.sign1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: lightcyan;
      & > img.logo-1{
        height: 50px;
        margin-left: 1rem;
    }
      & > navigation{
        text-decoration: none;
        display: flex;
        align-items: center;
        gap: 1rem;
           & > a{
            
            color: black;
            font-size: 1.5rem;
            font-weight: bold;
            padding: 0.5rem;
            border-radius: 0.5rem;
        }
    }
}